:root {
  --header-color: #212121;
  --accent-color: #2196f3;
  --white-title-color: #ffffff;
  --black-title-color: #212121;
  --text-color: #757575;
  --button-color: #f5f4fa;
  --roboto: Roboto;
}

.about__item__list {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -34px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.connect {
  list-style: none;
}

element.style {
  display: none;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red;  */
}

.button {
  display: flex;
  min-width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.button--hero {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.button__footer {
  margin-left: 12px;
  padding: 10px 29px;
}

.button__submit {
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  cursor: pointer;
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.form-field {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.form-input:hover, .form-input:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.form-text {
  cursor: pointer;
  outline: none;
}

.form-text:hover, .form-text:focus {
  border-color: #2196f3;
}

.form-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.check-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8.38px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-icon {
  fill: transparent;
  cursor: pointer;
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: var(--accent-color);
}

.policy-check:checked + .check-text .policy-icon {
  fill: white;
}

.policy-agreement {
  color: var(--accent-color);
  padding-left: 3px;
}

.logo__accent {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--header {
  color: var(--header-color);
  margin-right: 93px;
}

.logo--footer {
  display: flex;
  color: var(--white-title-color);
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-list {
  display: flex;
  align-items: center;
}

.site-nav__item {
  margin-right: 50px;
}

.connect {
  display: flex;
  align-items: center;
}

.site-connect {
  margin-left: auto;
}

.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

.connect__link:hover .connect__link-icon,
.connect__link:focus .connect__link-icon {
  fill: var(--accent-color);
}

.connect__link-icon {
  margin-right: 10px;
  fill: #757575;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__link-icon:hover, .connect__link-icon:focus {
  fill: var(--accent-color);
}

.connect__mail {
  margin-right: 50px;
}

.site-list .link .current {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/herogb.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
}

.about__after__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about__list {
  display: flex;
}

.about__item__list {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  border-radius: 4%;
  margin-bottom: 30px;
}

.about__item {
  width: 270px;
  margin-right: 30px;
}

.about__item:nth-child(4n) {
  margin-right: 0;
}

.section {
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.section__list {
  display: flex;
}

.section__item {
  width: 370px;
  margin-right: 30px;
}

.section__item-wrap {
  position: relative;
  height: 294px;
}

.section__item-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-title-color);
  padding: 27px;
  text-align: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
}

.aside {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.aside__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding-bottom: 50px;
}

.aside__list {
  display: flex;
  width: 270px;
  height: 428px;
}

.aside__pre__title {
  width: 270px;
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.aside__pre__title:nth-child(4n) {
  margin-right: 0;
}

.aside__icon {
  padding-bottom: 30px;
}

.aside__after__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.aside__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__general {
  display: flex;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover, .footer__address:focus {
  color: var(--accent-color);
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.add {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.add__icon {
  padding-bottom: 30px;
  margin-left: 70px;
}

.add__social__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}

.add__social__icon {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe {
  margin-left: 93px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 20px;
}

.footer__form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
  background: #2f303a;
}

.footer__form__input:hover, .footer__form__input:focus {
  border-color: var(--accent-color);
}

.footer__form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form__field {
  display: flex;
  justify-content: center;
}

.footer__submit__icon {
  margin-left: 10px;
  margin-top: 12px;
}

.filter {
  padding-top: 94px;
  padding-bottom: 50px;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.filter__btn {
  display: inline-block;
  margin-right: 8px;
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  min-height: 38px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  transition-property: color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.box {
  padding-bottom: 94px;
}

.box__after__title {
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.box__title {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.box__list {
  display: flex;
  flex-wrap: wrap;
}

.box__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box__item:hover, .box__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box__item:nth-child(3n) {
  margin-right: 0;
}

.box__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.box__img {
  position: relative;
  overflow: hidden;
}

.box__text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-title-color);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms linear;
}

.box__item:hover .box__text {
  transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */