.customers {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  text-align: center;
  @include font(700, 28, 1.18, 0.03em);
  color: #212121;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    @include font(700, 36, 1.17, 0.03em);
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
  }
}

.clients__item + .clients__item {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.clients__link {
  height: 92px;
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
