.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__general {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__nav {
  @media screen and (min-width: 768px) {
    margin-left: 76px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: 0;
  }
}

.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer__item {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.add {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.add__icon {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.add__social__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}

.add__social__icon {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-title-color);
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__form__input {
  width: 90vw;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-title-color);
  background: #2f303a;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer__form__field {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.footer__submit__icon {
  margin-left: 10px;
  margin-top: 12px;
}
