.section {
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.section__list {
  display: flex;
}

.section__item {
  width: 370px;
  margin-right: 30px;
}

.section__item-wrap {
  position: relative;
  height: 294px;
}
.section__item-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-title-color);
  padding: 27px;
  text-align: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
}
