.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .social__icon,
  &:focus .social__icon {
    fill: #ffffff;
  }
}

.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
