body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.connect {
  list-style: none;
}

element.style {
  display: none;
}
address {
  font-style: normal;
}
