:root {
  --header-color: #212121;
  --accent-color: #2196f3;
  --white-title-color: #ffffff;
  --black-title-color: #212121;
  --text-color: #757575;
  --button-color: #f5f4fa;
  --roboto: Roboto;
}
